{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}


    <div class="container eternity-form">
        <div class="section-title reg-header">
            <h3>Places</h3>
            <p>App to collect your addresses</p>

        </div>
    </div>
{% endblock %}
